<!-- Heading Row -->
<div class="row">
    <div class="col-md-8">
        <%= image_tag("jellybean900-350.png", alt: "", class: "img-responsive img-rounded") %>
    </div>
    <!-- /.col-md-8 -->
    <div class="col-md-4">
        <h1>Detail Haunted</h1>
        <p>This is a utility belt for little tools I'd like to have at hand.</p>
        <%= link_to "Get Started!", 'signup', class: "btn btn-lg btn-primary" %>
    </div>
    <!-- /.col-md-4 -->
</div>
<!-- /.row -->

<hr>

<!-- Call to Action Well -->
<div class="row">
    <div class="col-lg-12">
        <div class="well text-center">
            Check out some of the cool things below.  A <a href="https://majway.com/">Majway Project</a> 
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<!-- Content Row 1 -->
<div class="row">
    <div class="col-md-4">
        <h3>Finance</h3>
        <%= link_to 'Simple Ledger', transactions_url, class: "btn btn-default" %>
        <a class="btn btn-default" href="#">More Info</a>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
        <h3>Time Management</h3>
        <p>Time Tracker</p>
        <a class="btn btn-default" href="#">More Info</a>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
        <h3>Writing</h3>
        <%= link_to 'Daily Journal', journals_path, class: "btn btn-default" %>
        <a class="btn btn-default" href="#">More Info</a>
    </div>
    <!-- /.col-md-4 -->
</div>
<!-- Content Row 2 -->
<div class="row">
    <div class="col-md-4">
        <h3>Other Trackers</h3>
        <p>Stress Tracker, PTO Tracker, Birthday Tracker</p>
        <a class="btn btn-default" href="#">More Info</a>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
        <h3>Timers</h3>
        <p>Screen "Break" Timer</p>
        <a class="btn btn-default" href="#">More Info</a>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
        <h3>Misc</h3>
        <p>Random string generator</p>
        <a class="btn btn-default" href="#">More Info</a>
    </div>
    <!-- /.col-md-4 -->
</div>
<!-- /.row -->